In [12]:
import http.client
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from datetime import datetime
from dateutil.parser import parse

In [13]:
# File to Load 
team_data_to_load = "Team_List.csv"
players_2018_data_to_load = "Offense_Player_List_2018.csv"
player_bday_to_load = "Player_List_Bday.csv"
player_2012to2018_to_load = "Player_List_2012_to_2018.csv"

# Read Team and Player Data File and store into Pandas Data Frames
team_df = pd.read_csv(team_data_to_load)
players_2018_data = pd.read_csv(players_2018_data_to_load)
player_bday_data =  pd.read_csv(player_bday_to_load)
big_player_list =  pd.read_csv(player_2012to2018_to_load)

In [14]:
player_bday_data .head()

   Unnamed: 0                             Player ID  Birth Date
0           0  0742d2ea-1cf2-49a6-a150-77ba6e034d8c  1982-11-24
1           1  8fc65820-f565-44e2-8635-3e1cdf165bf6  1987-10-24
2           2  cf23126f-055b-4617-819b-bb4bcb84541a  1987-11-21
3           3  04ca4fb9-194e-47fe-8fc8-adb5790a8e78  1989-02-13
4           4  5812204c-6dae-4450-8011-99e0f72864ac  1988-07-27

In [45]:
big_player_list.head()

result = pd.merge(big_player_list,
                 player_bday_data[["Birth Date", "Player ID"]],
                 on="Player ID")
result.head()

bday_list = result["Birth Date"].tolist()
season_list = result["Season"].tolist()

age_list = []

for i in range(len(bday_list)):
    if bday_list[i] == "none": 
        age_list.append("unknown")
    else: 
        age= season_list[i] - datetime.strptime(bday_list[i], '%Y-%m-%d').year
        age_list.append(age)

result["Season Age"] = age_list
    
result.head()

,Unnamed: 0,Player Team ID,Player Team,Player ID,Player Name,Jersey,Reference,Position,Sr ID,Games Played,Games Started,Season,Birth Date,Season Age
0,0,768c92aa-75ff-4a43-bcc0-f2798c2e1724,Bills,0742d2ea-1cf2-49a6-a150-77ba6e034d8c,Ryan Fitzpatrick,14,00-0023682,QB,sr:player:831033,16,16,2012,1982-11-24,30
1,215,d26a1ca5-722d-4274-8f97-c92e49c96315,Titans,0742d2ea-1cf2-49a6-a150-77ba6e034d8c,Ryan Fitzpatrick,14,00-0023682,QB,sr:player:831033,11,9,2013,1982-11-24,31
2,410,82d2d380-3834-4938-835f-aec541e5ece7,Texans,0742d2ea-1cf2-49a6-a150-77ba6e034d8c,Ryan Fitzpatrick,14,00-0023682,QB,sr:player:831033,12,12,2014,1982-11-24,32
3,593,5fee86ae-74ab-4bdd-8416-42a9dd9964f3,Jets,0742d2ea-1cf2-49a6-a150-77ba6e034d8c,Ryan Fitzpatrick,14,00-0023682,QB,sr:player:831033,16,16,2015,1982-11-24,33
4,914,5fee86ae-74ab-4bdd-8416-42a9dd9964f3,Jets,0742d2ea-1cf2-49a6-a150-77ba6e034d8c,Ryan Fitzpatrick,14,00-0023682,QB,sr:player:831033,14,11,2016,1982-11-24,34

In [46]:
result.to_csv(r'Player_List_2012_to_2018_WITH_Player_Age.csv')